/*Meu primeiro arquivo CSS*/

p{
    color: #ffffff;
    font-size: 15px;
    font-family: Helvetica;
}
body{
    background-color: #000000;
}

 *{
     margin: 0;
     padding:0; 
 }

 header{
     background-color: #35b8b0;
     height: 200px;
     padding: 20px;
     font-family: Helvetica
     
 }

 footer{
    clear: both;
    background-color:#35b8b0;
    height: 60px;
    text-align: center ;
    padding: 10px;
}

h1{
    color: #ffffff;
    text-shadow: 1px 1px 1px #111111;
    height: 60px;
    text-align: center;
}

.my-form{
    background-color: #35b8b0;
    color: #ffffff;
    
}
.my-form h2{
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}
 /*IDS*/
 #principal{
     background-image: url("images/cidade.jpg");
     clear: both;
     background-size: 100%;
     min-height: 600px;
     width: 100%;
     padding: 100px 0 0 0;
 }

#logo{
    float: left;
}

#menu{
    margin-top: 20px;
    float: right;
}
#menu a{
    padding: 15px;
    text-decoration: none;
    color: #111111; 

}

#menu a:hover{
    background-color: #111;
    color:#35b8b0;
    
}

/*class*/
 .container{
     width: 960px;
     margin:     auto;
 }